@import '../styles/local-variables.scss';

.meet-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;

  z-index: 1;

  &__gallery {
    width: 150%;
    height: 40%;

    display: flex;
    flex-wrap: wrap;

    &__picture-frame {
      width: 50%;
      height: 50%;
      padding: 7px;
      &__picture {
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        object-fit: cover;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 55%;

    margin-bottom: 40px;

    &__headline {
      color: #18191f;
      margin-bottom: 32px;
    }

    &__description {
      @include lead-1;
      color: #18191f;

      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }
}

@include tablet-desktop {
  .meet-us {
    justify-content: space-between;
    flex-direction: row;

    align-items: center;

    &__gallery {
      width: 50%;
      height: 600px;
    }

    &__content {
      width: 45%;
      margin-bottom: 0px;
    }
  }
}
