.btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);

  &:focus,
  &:hover {
    background-color: var(--primary-light-color);
    border-color: var(--primary-light-color);
  }

  &--transparent {
    background-color: transparent;
    border-color: transparent;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
