.block {
  width: 100%;
  padding-top: var(--block--padding-top);
  padding-bottom: var(--block--padding-bottom);

  &--paddless {
    padding: 0;
  }

  &__inner {
    overflow: hidden;
    position: relative;

    max-width: 1200px;
    width: 100%;

    padding-left: 40px;
    padding-right: 40px;

    margin: 0 auto;

    &--centered {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
