@import '../../../styles/local-variables.scss';

.s-testimonial {
  position: relative;
  justify-content: center;
  background-color: #ecf4fc;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: calc(var(--block-padding-top) + 20px);
    margin-bottom: calc(var(--block-padding-bottom) + 20px);

    &::after {
      content: '';
      background-image: url('../../../public/assets/preacher-testimonial.png');

      background-position: 50% 20%;
      background-size: cover;

      width: 229px;
      height: 172px;

      position: absolute;
      bottom: 0;
      right: 0;
    }

    &__feedback {
      @include lead-1;
      color: #18191f;

      max-width: 100%;

      position: relative;
      z-index: 2;

      &__quote {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
        z-index: -1;
        color: #448fe4;
        opacity: 0.3;
      }
    }

    &__person-details {
      &__name {
        @include subtitle-1;
        color: #448fe4;

        margin: 0;
      }

      &__designation {
        @include body-1;

        color: #18191f;

        max-width: 40%;

        margin: 0;
      }
    }
  }
}

@include tablet {
  .s-testimonial {
    &__content {
      &::after {
        width: 329px;
        height: 272px;
      }
      margin-bottom: 200px;
      &__feedback {
        margin-bottom: 15px;
      }
    }
  }
}

@include desktop {
  .s-testimonial {
    &__content {
      &::after {
        content: '';

        width: 429px;
        height: 372px;
      }
      &__feedback {
        max-width: 65%;
      }
    }
  }
}
