@import '../../styles/local-variables.scss';

.highlight {
  position: relative;
  z-index: 1;
  display: inline-block;
  white-space: nowrap;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    z-index: -1;

    width: 100%;
    height: 85%;

    background-image: linear-gradient(
      270deg,
      var(--primary-color),
      rgba(255, 218, 150, 0)
    );
    border-radius: 2em 1em 4em/0.5em 3em;
    opacity: 0.3;
    transform: translateY(-50%);
  }
}

.highlight {
  @include desktop {
    &::before {
      height: 70%;
      transform: translateY(-45%);
    }
  }
}
