@import '../../../styles/local-variables.scss';

.hero-background {
  background-image: url('../../../public/assets/hero.jpeg');
  background-size: cover;
  background-position: 70% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  box-shadow: 0px 0px 10px #000000;
}

@include desktop {
  .hero-background {
    background-position: 50% 50%;
  }
}

.hero-wrapper {
  width: 100%;
  height: 80vh;
  z-index: 200;
  position: relative;
}

.hero {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  &__content {
    max-width: 500px;
    text-align: center;
    @media (max-width: 350px) {
      &__text {
        font-size: 42px;
        line-height: 62px;
      }
    }

    @media (min-width: 351px) and (max-width: 510px) {
      &__text {
        font-size: 58px;
        line-height: 78px;
      }
    }

    &__text {
      font-weight: 800;
      color: #ffffff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
      margin-bottom: 8px;
    }
    &__sub-text {
      @include lead-1;
      color: #ffffff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
      margin-bottom: 34px;
    }

    &__know-more-btn:global(.ant-btn-round):global(.ant-btn-lg) {
      height: 60px;
      min-width: 200px;
      font-size: 24px;
      text-decoration: none;
      border-radius: 44px;
      transition: 0.2s;
      font-weight: 700;
      padding: 0 30px;
      box-shadow: 0 10px 20px rgba(49, 37, 160, 0.3);
    }
  }
}

@include tablet-desktop {
  .hero {
    &__content {
      text-align: start;
    }
  }
}
