@import '../../../styles/local-variables.scss';

.feature {
  &__headline {
    max-width: 540px;
    margin: auto;
    margin-bottom: 48px;

    &__title {
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;

      text-align: center;

      color: #18191f;
    }

    &__description {
      @include lead-1;

      text-align: center;

      color: #18191f;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;

    list-style: none;
    padding: 0;
    margin: 0;

    &__details {
      max-width: 350px;
      margin: 30px 15px;
      position: relative;
      z-index: 2;

      &__step {
        position: absolute;
        top: 0;
        left: 50%;
        font-weight: 800;
        font-size: 72px;
        line-height: 98px;
        color: var(--primary-color);
        opacity: 0.1;
        z-index: 1;
        transform: translate(-50%, -55%);
      }

      &__headline {
        text-align: center;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
      }

      &__description {
        @include body-1;
        text-align: center;

        color: #18191f;

        p {
          font-style: italic;

          em {
            font-style: normal;
            display: block;

            font-weight: bolder;
          }
        }
      }
    }
  }
}
