.menu {
  border: none;
  background-color: transparent;

  &--vertical {
    > li {
      padding: 0 !important;
    }
  }

  > :global(.ant-menu-item) {
    color: #ffffff !important;

    &:hover {
      color: #ffffff !important;
      border-bottom-color: #ffffff !important;
    }
  }

  &--black {
    > :global(.ant-menu-item) {
      color: #18191f !important;
      border-bottom-color: #18191f !important;

      &:hover {
        color: #18191f !important;
        border-bottom-color: #18191f !important;
      }
    }
  }
}
