@import '../styles/local-variables.scss';

.visit {
  display: flex;
  flex-direction: column;

  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;

    margin-bottom: 48px;

    &__headline {
      color: #18191f;
    }

    &__description {
      @include lead-1;
      color: #18191f;
    }
  }

  &__gallery {
    width: 500px;
    height: 350px;

    display: flex;
    flex-direction: row;

    align-self: center;

    &__col {
      height: 100%;
      display: flex;
      flex-direction: column;

      &:first-child,
      &:last-of-type {
        display: none;
      }

      &__picture-frame {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-position: 50% 50%;
          object-fit: cover;
        }
      }
    }
  }
}

@include tablet {
  .visit {
    &__content {
      flex-direction: row;

      margin-bottom: 48px;

      &__headline {
        width: 50%;
      }

      &__description {
        width: 50%;
      }
    }

    &__gallery {
      width: 800px;
      height: 400px;

      &__col:first-of-type {
        display: none;
      }

      &__col:last-of-type {
        display: flex;
      }
    }
  }
}

@include desktop {
  .visit {
    &__content {
      flex-direction: row;

      margin-bottom: 48px;

      &__headline {
        width: 50%;
      }

      &__description {
        width: 50%;
      }
    }

    &__gallery {
      width: 1200px;
      height: 450px;

      &__col:first-of-type,
      &__col:last-of-type {
        display: flex;
      }
    }
  }
}
